#!/bin/bash

function termauth () {
  terminus auth:login --machine-token=TERMINUS_KEY;
  lando terminus auth:login --machine-token=TERMINUS_KEY;
}

function webhost () {
  git remote add webhost $(terminus connection:info --format=list --fields=git_url $1.dev)
}

function gitsync () {
  git checkout $1
  git pull webhost $1
  git pull origin $1
  git push webhost $1
  git push origin $1
}

function gitflowsync () {
  git checkout master
  git push origin master
  git checkout develop
  git push origin develop
}

function npmbuild () {
  npm run build
  git commit -am "Adding compiled files."
}

function clonesite () {
  cd ~/Sites/lando
  git clone git@gitlab.com:hoverboard88/client-sites/$1.git
  cd $1
  webhost $1
  gitsync master
  lando start
  lando pull --code=none --database=live --files=live
}

function gitbranchcleanup () {
  git branch | grep -v " master$" | grep -v " main$" | grep -v " develop$" | grep -v " dev$" | xargs git branch -D
}

# Troubleshoot load time
timezsh() {
  shell=${1-$SHELL}
  for i in $(seq 1 10); do /usr/bin/time $shell -i -c exit; done
}
