[user]
	name = Ryan Tvenge
	email = ryan@hoverboardstudios.com
[core]
	editor = vim
	fileMode = false
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[url "https://"]
	insteadOf = git://
[push]
	default = simple
[pull]
	rebase = false
[alias]
	st = status --branch --short
	wat = log --graph --decorate --oneline -15
	co = checkout
	patch = add --patch
	unstage = reset --hard
	unstage-patch = reset HEAD --patch
	com = commit -m
	coma = commit -am
	devpull = pull origin develop:develop
	ocmitt = commit
	# Not working
	# cwp = commit -am "upgrading wordpress core/themes/plugins"
	amend = commit --amend --no-edit
	follow = log --follow -p
[help]
	autocorrect = 1
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

# Put this in your ~/.config/git/config file so your signingkey isn't in the repo.
# [user]
# 	name = Ryan Tvenge
# 	email = ryan@hoverboardstudios.com
# 	signingkey = "ssh-rsa ..."
# [gpg]
# 	format = ssh
# [gpg "ssh"]
# 	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
# [commit]
# 	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
