node_modules
npm-debug.log.*
.DS_Store
configstore
.private
.config/blt
private.yml
.config/github-copilot/hosts.json
.config/nvim/pack
.config/tmux/plugins
.config/tmux/resurrect
.config/tmux/sidebar
.config/zed/.tmp*
.config/zed/conversations
.config/zed/embeddings
.config/zed/prompts
.config/zed/themes
*.bak